absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
blinker==1.6.2
catboost==1.2
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
Flask==2.3.2
fonttools==4.39.4
graphviz==0.20.1
grpcio @ file:///C:/ci/grpcio_1637590968244/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
MarkupSafe==2.1.2
matplotlib==3.7.1
#-e git+https://github.com/Puneet0897/mlproject.git@be1d7f9d0f342979f1e672e7ed85d975c3ba483a#egg=mlproject
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
plotly==5.14.1
protobuf @ file:///D:/bld/protobuf_1681050097049/work/python
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tenacity==8.2.2
tensorboard==1.15.0
threadpoolctl==3.1.0
tzdata==2023.3
Werkzeug==2.3.4
xgboost==1.7.5
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
